@page
@model Web.Pages.MyStacks.FlashCards.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Flash Card</h1>

<h4>FlashCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UpdatedFlashCard.Id" />
            <div class="form-group">
                <label asp-for="UpdatedFlashCard.StackId" class="control-label"></label>
                <select asp-for="UpdatedFlashCard.StackId" class="form-control" asp-items="ViewBag.StackId"></select>
                <span asp-validation-for="UpdatedFlashCard.StackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedFlashCard.Front" class="control-label"></label>
                <input asp-for="UpdatedFlashCard.Front" class="form-control" />
                <span asp-validation-for="UpdatedFlashCard.Front" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedFlashCard.Back" class="control-label"></label>
                <input asp-for="UpdatedFlashCard.Back" class="form-control" />
                <span asp-validation-for="UpdatedFlashCard.Back" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedFlashCard.Order" class="control-label"></label>
                <input asp-for="UpdatedFlashCard.Order" class="form-control" />
                <span asp-validation-for="UpdatedFlashCard.Order" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input type="submit" value="Save" class="btn btn-primary" /> |  <a asp-page="../stack" asp-route-id="@Model.UpdatedFlashCard.StackId">Back to Stack</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
