@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center m-2">
    <h1 class="display-4">👋 Welcome To Study Stacks! </h1>
    <p>Study using flash cards for free</p>

</div>
<div>
    <h2>Welcome to Study Stacks, your ultimate tool for efficient and effective learning!</h2>
    <p>The concept of using flash cards as a study aid has been around for centuries. In the 19th century, Favell Lee Mortimer, an English author of educational books, used a similar technique to teach children. However, the term "flash card" didn't become widely used until the 20th century.</p>
    <p>Research in cognitive science and psychology suggests several reasons why flash cards are so effective:</p>
    <p><strong>Active Recall: </strong>When you study with a flash card, you are not just passively reading information. Instead, you are actively trying to remember the concept or fact. This process of active recall helps strengthen neural connections, making it easier for you to retrieve the information later.</p>
    <p><strong>Spaced Repetition: </strong>Flash cards make it easy to implement the concept of spaced repetition, where you review information at increasing intervals over time. Studies show that spaced repetition can dramatically improve the retention of information.</p>
    <p><strong>Metacognition: </strong>Flash cards also enable metacognition, or thinking about thinking. When you check your answer on a flash card, you're assessing your knowledge and your thought process. This self-reflection can enhance your understanding and memory of the topic.</p>
    <p><strong>Portability & Convenience: </strong>Flash cards are portable and easy to use. You can use them for a few minutes while waiting for a bus, during a lunch break, or for an intensive study session.</p>
    <p>At Study Stacks, we've taken these proven benefits of flash cards and incorporated them into a user-friendly, digital format. You can now create, manage, and study your flash cards online, anytime, anywhere. With added features like tracking your progress over time and organizing your cards into stacks, we aim to make your study sessions even more effective.</p>
    <p>So what are you waiting for? Sign up for a free account and start studying today!</p>
</div>
<hr />
<div>
    <p>Where are always looking to improve Study Stacks. If you would like to see new features or you are encountaring issues with the site, please send us an <a href="mailto:study.stacks.contact@gmail.com">email</a></p>
</div>
