@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">

        <h4>@Model.Username</h4>
        <span>Email confirmed?</span>
        @if(Model.IsEmailConfirmed)
        {
            <p class="text-success">Yes 😀</p>
        }
        else
        {
            <p class="text-danger">No. You need to confirm your email to use the platform 😅</p>
            <hr />
            <h5>Resend email confirmation</h5>
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
                    </form>
                </div>
            </div>
            <hr />
        }
        <hr />
        <a asp-area="Identity" asp-page="/Account/ForgotPassword">Need to change password? Click here.</a>
        <hr/>
        <a asp-area="Identity" asp-page="/Account/Manage/Email">Want to change the email address associated with your account?</a>
        <hr />
        <a asp-area="Identity" asp-page="/Account/Manage/DeletePersonalData">Delete personal data</a>
        <hr />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
